{
  "log": {
    "loglevel": "info",
    "access": "/dev/stdout",
    "error": "/dev/stderr"
  },
  "inbounds": [{
    "port": 8080,
    "protocol": "vless",
    "settings": {
      "clients": [{
        "id": "UUID_PLACEHOLDER",
        "level": 0
      }],
      "decryption": "none"
    },
    "streamSettings": {
      "network": "grpc",
      "grpcSettings": {
        "serviceName": "game"
      }
    },
    "sniffing": {
      "enabled": false
    },
    "tag": "grpc-in"
  }],
  "outbounds": [{
    "protocol": "freedom",
    "tag": "direct"
  }],
  "fallbacks": [{
    "dest": 10000,
    "xver": 0
  }]
}
